<!--Contact-->
  <div class="background" style="background-image: url(assets/img/img_bg_main.jpg); height: auto;">
    <div id="contact" class="container section">
      <div class="row">
        <div class="col-md-12">
          <p id="contacts_header" class="section__title text-center">Collaborate on a great project || say hi</p>
        </div>
      </div>
      <div class="row justify-content-center contacts">
        <div class="col-xs-1 text-center">
          <a href="mailto:oussama@souayeh.me" class="section_btn site-btn">{ Get in touch }</a>
        </div>
      </div>

      <div class="row justify-content-center contacts">
        <div class="col-xs-1 text-center">
          <div class="footer">
            <p>2020 Oussama Souayeh. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Contact-->

@code {
    private int currentYear = DateTime.Today.Year;
}
