@page "/"

<!--Hello-->
  <section id="hello" class="container section">
    <div class="row">
      <div class="col-md-10">
        <h2 id="hello_header" class="section__title">Hi_</h2>
        <p class="section__description">
          I am a senior Software Engineer accustomed to wearing many hats in the process of software development and delivery through Agile Methodologies and utilization of Azure DevOps/Cloud Tools & Technologies.
          I have a huge passion for automation and leveraging cutting edge technology to achieve optimal clients satisfaction.  
        </p>
        <p class="section__description">
          Please feel free to get in touch for any inquiry or feedback! 
        </p>
      </div>
    </div>
  </section>
<!--Hello-->
<hr>
<!--Recognition-->
  <section id="recognition" class="container section">
    <div class="row">
      <div class="col-md-12">
        <h2 id="blog_header" class="section__title">Recognition_</h2>
      </div>
    </div>

    <div class="row post-cards">
      <div class="col-md-3">
        <a href="https://www.youracclaim.com/badges/0ffbce30-feac-458c-ae04-494385ae4c99/linked_in_profile">
          <div class="post-cards__card">
            <div class="post-cards__img">
              <img src="assets/img/microsoft-certified-azure-devops-engineer-expert.png" alt="blog_img">
            </div>
            <div class="post-cards__info--borderless">
              <p class="post-cards__date">January 2020</p>
              <h3 class="post-cards_title">Microsoft Certified: Azure DevOps Engineer Expert</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.scrum.org/user/407059">
          <div class="post-cards__card">
            <div class="post-cards__img">
              <img src="https://static.scrum.org/web/open-badges/psmii.png" alt="blog_img">
            </div>
            <div class="post-cards__info--borderless">
              <p class="post-cards__date">December 2018</p>
              <h3 class="post-cards_title">Professional Scrum Master II (PSM II)</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.youracclaim.com/badges/08f2f84a-863b-442d-8392-011bdb2f6d83/linked_in_profile">
          <div class="post-cards__card">
            <div class="post-cards__img">
              <img src="assets/img/microsoft-certified-azure-developer-associate.png" alt="blog_img">
            </div>
            <div class="post-cards__info--borderless">
              <p class="post-cards__date">December 2019</p>
              <h3 class="post-cards_title">MIcrosoft Certified: Azure Developer Associate</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
<!--Recognition-->
<hr>
<!--Blog-->
  <section id="blog" class="container section">
    <div class="row">
      <div class="col-md-12">
        <h2 id="blog_header" class="section__title">Latest Posts_</h2>
        <p class="resume-list__block-title"> if(comingSoon == true) { continue;} </p>
        <p class="resume-list__block-title"> else { throw new TimeoutException();} </p>
      </div>
    </div>
  </section>
<!--Blog-->

